.logo {
  font-family: "Fira Code";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFF;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.burger> :first-child {
  width: 24px;
  height: 2px;
  background-color: #FFF;
  margin-top: 5px;
}

.burger> :last-child {
  width: 15px;
  height: 2px;
  background-color: #FFF;
  margin-left: auto;
  margin-top: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 8px;
}

b {
  color: #C778DD;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 34px 0 25px;
}

.text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ABB2BF;
}

.photo {
  display: block;
  margin: 24px auto 0;
}

.white {
  color: #FFF;
}

.cta {
  padding: 8px;
  border: 1px solid #ABB2BF;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.square {
  width: 16px;
  height: 16px;
  background-color: #C778DD;
}

#about {
  padding-bottom: 47px;
}

#contacts {
  margin: 16px;
}

.row-inputs {
  display: flex;
  column-gap: 16px;
}

.row-inputs>div {
  flex: 1;
}

form {
  width: 100%;
  display: block;
}

input,
textarea {
  padding: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0%);
  border: 1px solid #ABB2BF;
  color: #ABB2BF;
  margin-bottom: 16px;
}

button[type=submit] {
  border: 1px solid #C778DD;
  width: auto;
  padding: 8px 16px;
  color: #FFF;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

ul {
  position: absolute;
  top: 48px;
  left: 16px;
  background-color: #282C33;
  padding-top: 47px;
  width: 100%;
  display: none;
}
